# Variables implementation

In [1]:
var = 23.5
print(var)

23.5

In [2]:
var = "Now I'm a string"
print(var)

Now I'm a string

In [3]:
print(300)
type(300)

300

int

In [5]:
n = 300
m = n
id(n)        #id() returns an objectâ€™s integer identifier

81544720

In [6]:
id(m)

81544720

In [7]:
m = 400
id(m)

81544880

In [8]:
name = "Bob"
Age = 54
has_W2 = True
print(name, Age, has_W2)

Bob 54 True

# loops implementation

for loop

In [11]:
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

In [14]:
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)

0
1
2
3
4

In [13]:
# Prints out 3,4,5
for x in range(3, 6):
    print(x)

3
4
5

In [15]:
# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

3
5
7

In [16]:
# Prints out 0,1,2,3,4
count = 0
while count < 5:
    print(count)
    count += 1          # This is the same as count = count + 1

0
1
2
3
4

Break statement

In [17]:
# Prints out 0,1,2,3,4
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break

0
1
2
3
4

Continue statement

In [20]:
# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

1
3
5
7
9

In [22]:
# Prints out 0,1,2,3,4 and then it prints "count value reached 5"
count=0
while(count<5):
    print(count)
    count +=1
else:
    print("count value reached %d" %(count))

0
1
2
3
4
count value reached 5

In [23]:
# Prints out 1,2,3,4
for i in range(1, 10):
    if(i%5==0):
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break but not due to fail in condition")

1
2
3
4

# If else elif implementation

if statement

In [26]:
# If the number is positive, we print an appropriate message
num = 3
if num > 0:
    print(num, "is a positive number.")
print("This is always printed.")

3 is a positive number.
This is always printed.

In [31]:
num1 = -1
if num1 > 0:
    print(num1, "is a positive number.")      #will not be printed
print("This is also always printed.")

This is also always printed.

if else statement

In [32]:
# Program checks if the number is positive or negative
# And displays an appropriate message

num = 3
if num >= 0:
    print("Positive or Zero")
else:
    print("Negative number")

Positive or Zero

In [33]:
num = -5
if num >= 0:
    print("Positive or Zero")
else:
    print("Negative number")

Negative number

In [34]:
num = 0
if num >= 0:
    print("Positive or Zero")
else:
    print("Negative number")

Positive or Zero

if elif else

In [35]:
num = 3.4
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Positive number

In [37]:
num = 0
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Zero

In [38]:
num = -5.9
if num > 0:
    print("Positive number")
elif num == 0:
    print("Zero")
else:
    print("Negative number")

Negative number

# list and dictionary implementation

list

In [41]:
city_list=['karachi','lahore', 'islamabad', 'multan', 'sukkar', 'quetta']

In [42]:
print(city_list[2])

islamabad

In [43]:
print(city_list[-1])

quetta

In [44]:
print(city_list[2:5])

['islamabad', 'multan', 'sukkar']

In [46]:
num_list=[10,20,30,40,50,60,70,80,90]       #operation in lists
num_city_list= num_list+ city_list
print(num_city_list)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 'karachi', 'lahore', 'islamabad', 'multan', 'sukkar', 'quetta']

In [47]:
new_citylist= city_list*2
print(new_citylist)

['karachi', 'lahore', 'islamabad', 'multan', 'sukkar', 'quetta', 'karachi', 'lahore', 'islamabad', 'multan', 'sukkar', 'quetta']

In [50]:
list_nest=[[10,20,30],['a','b','c']]       #nested list
list_nest

[[10, 20, 30], ['a', 'b', 'c']]

In [49]:
print(list_nest[1][2])

c

In [52]:
city_list=['karachi','lahore', 'islamabad', 'multan', 'sukkar', 'quetta']     #updating list
city_list.append('dadu')
print(city_list)

['karachi', 'lahore', 'islamabad', 'multan', 'sukkar', 'quetta', 'dadu']

dictionary

In [54]:
dict_city={1: 'karachi', 2: 'lahore', 3: 'islamabad',4:'multan',5:'sukkar'}
print(dict_city)

{1: 'karachi', 2: 'lahore', 3: 'islamabad', 4: 'multan', 5: 'sukkar'}

In [56]:
dict_travel={'Country1':'Pakistan', 'Country2': 'India', 'Country3':'Japan', 'Country4':'UK', 'Country5': 'Australia'}
print(dict_travel)

{'Country1': 'Pakistan', 'Country2': 'India', 'Country3': 'Japan', 'Country4': 'UK', 'Country5': 'Australia'}

In [62]:
sales_infolist=[['SID','Fiat'],['Sales','20000'],['LaunchDay','Wed'],['Cost','500000']]     #converting list into dictionary
print(type(sales_infolist))
sales_infolist_dict= dict(sales_infolist)
print(type(sales_infolist_dict))

<class 'list'>
<class 'dict'>

In [65]:
dict_salesinfo= {'SID':'Fiat','Sales': 20000,'LaunchDay':'Wed','Cost': 500000}     #updating a dictionary
dict_salesinfo.update({'Profit':'50000'})
print(dict_salesinfo)

{'SID': 'Fiat', 'Sales': 20000, 'LaunchDay': 'Wed', 'Cost': 500000, 'Profit': '50000'}

# function implementation

In [66]:
# Define a function `plus()`
def plus(a,b):
  return a + b

In [67]:
# Create a `Summation` class
class Summation(object):
  def sum(self, a, b):
    self.contents = a + b
    return self.contents

In [68]:
# Instantiate `Summation` class to call `sum()`
sumInstance = Summation()
sumInstance.sum(1,2)

3

In [70]:
# Define `plus()`
def plus(a,b):
  sum = a + b
  return (sum, a)

# Call `plus()` and unpack variables 
sum, a = plus(3,4)

# Print `sum()`
print(sum)

7

In [71]:
# Define `plus()` function to accept a variable number of arguments
def plus(*args):
  total = 0
  for i in args:
    total += i
  return total

# Calculate the sum  
plus(20,30,40,50)

140